@model Autovehicule

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Autovehicule</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">

            <div class="border p-3">
                @* <div asp-validation-summary="ModelOnly"></div> *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="LicensePlate" class="form-control border-0 shadow">
                    <label asp-for="LicensePlate" class="ms-2"></label>
                    <span asp-validation-for="LicensePlate" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Type" class="form-control border-0 shadow">
                    <label asp-for="Type" class="ms-2"></label>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="py-2 col-12">
                    <input data-val="true"
                           data-val-required="The HasITP field is required."
                           id="HasITP"
                           name="HasITP"
                           type="checkbox"
                           value="true" />
                    <label asp-for="HasITP" class="ms-2"></label>
                    <span asp-validation-for="HasITP" class="text-danger"></span>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ITPExpirationDate" class="form-control border-0 shadow">
                    <label asp-for="ITPExpirationDate" class="ms-2"></label>
                    <span asp-validation-for="ITPExpirationDate" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="VinNumber" class="form-control border-0 shadow">
                    <label asp-for="VinNumber" class="ms-2"></label>
                    <span asp-validation-for="VinNumber" class="text-danger"></span>
                </div>
                <div class="py-2 col-12">
                    <input data-val="true"
                           data-val-required="The HasVinieta field is required."
                           id="HasVinieta"
                           name="HasVinieta"
                           type="checkbox"
                           value="true" />
                    <label asp-for="HasVinieta" class="ms-2"></label>
                    <span asp-validation-for="HasVinieta" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="InsurenceDate" class="form-control border-0 shadow">
                    <label asp-for="InsurenceDate" class="ms-2"></label>
                    <span asp-validation-for="InsurenceDate" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="InsuranceExpirationDate" class="form-control border-0 shadow">
                    <label asp-for="InsuranceExpirationDate" class="ms-2"></label>
                    <span asp-validation-for="InsuranceExpirationDate" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    @* <select asp-for="Autovehicule.GoodsId" asp-items="@Model.AutovehiculeList" class="form-control border-0 shadow">
                        <option disabled selected>---Select Autovehicule---</option>
                    </select>
                    <label asp-for="Autovehicule.GoodsId" class="ms-2"></label>
                    <span asp-validation-for="Autovehicule.GoodsId" class="text-danger"></span> *@
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Autovehicule" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
