@model List<AutovehiculeVM>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div  class="col-12 text-center">
        <h2 class="text-black py-2">Autovehicule List </h2>
    </div>
</head>

<body>
    <div class="row pb-3">
        <div class="col-12 text-left">
            <a asp-controller="Autovehicule" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-square-fill"></i> Create New Autovehicule
            </a>
        </div>
    </div>
    <table id="tblData" class=" table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    License Plate
                </th>
                <th>
                    VIN Number
                </th>
                <th>
                    Insurence Start Date
                </th>
                <th>
                    ITP
                </th>
                <th>
                    ITP Expiration Date
                </th>
                <th>
                    Insurance Expiration Date
                </th>
                <th>
                    Vinieta
                </th>
                <th>
                    Vinieta Expiration Date
                </th>
                <th>
                    Image
                </th>
                <th>
                    Employee
                </th>
                <th>

                </th>
            </tr>
        </thead>

    </table>

    </div>
</body>
   

@section Scripts {
    <script src="~/js/autovehicule.js"></script>
}