@model List<CombinedDataViewModel>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Occupancy
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <td></td>
              <td></td>
                <td>  </td>
                <td>
                
                </td>
            </tr>
    </tbody>
</table>




@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Work in progress <i class="bi bi-wrench"></i> </h1>
    <h2>Made by Alex Cro </h2>
</div>
