@model List<CombinedDataViewModel>

<div class="text-center">
    <h1 class="text-black py-2"> Basic Info Table  </h1>
</div>

<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                License Plate
            </th>
            <th>
                Computer Model
            </th>
            <th>
                Employee
            </th>
        </tr>
    </thead>
</table>






@section Scripts {
    <script src="~/js/home.js"></script>
}