@model List<CombinedDataViewModel>

<div class="text-center">
    <h1 class="text-black py-2"> Basic Info Table  </h1>
</div>

<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                License Plate
            </th>
            <th>
                Computer Model
            </th>
            <th>
                Employee
            </th>
        </tr>
    </thead>
</table>

<div class="row pb-3">
    @foreach (var viewModel in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class=" row pb-2">
               <div class="col-12 p-1">
                   <div class="card border-0 p-3 shadow border-top border-5 rounded"> @viewModel.Type  @viewModel.LicensePlate  @viewModel.Model
                        <img src="@viewModel.ImageUrl" class="card-img-top rounded" />
                   </div>
               </div>
            </div>
        </div>
    }
</div>






@section Scripts {
    <script src="~/js/home.js"></script>
}