@model CombinedDataViewModel

<div class="text-center">
    <h1 class="text-black py-2"> View of all current items  </h1>
</div>
<h3 class="text-center text-black"> Basic Autovehicle Table</h3>
<table id="Table_1" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                License Plate
            </th>
           
        </tr>
    </thead>
</table>
<h3 class="text-center text-black"> Basic Computer Table </h3>

<table id="Table_2" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Description
            </th>
           
        </tr>
    </thead>
</table>









@section Scripts {
    <script src="~/js/home.js"></script>
}