@model List<Computer>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black py-2">Computer List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
    </div>
    <div class="row pb-3">
        <div class="col-12">
        </div>
        <div class="text-center">
            <a asp-controller="Computer" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-square-fill"></i> Create New Computer
            </a>
        </div>
    </div>
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Model
                </th>
                <th>
                    Description
                </th>
                <th>
                    Serial Number
                </th>
                <th>
                    Image
                </th>
                <th>
                    Employee
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
       
    </table>
</div>

    @section Scripts{
        <script src="~/js/computer.js"></script>
    }